@font-face {
    font-family: "Raleway-Black";
    src: url(../fonts/Raleway-Black.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Raleway-Bold";
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Raleway-Thin";
    src: url(../fonts/Raleway-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Roboto-Bold";
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: "Roboto-Regular";
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
}
